<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SVMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SVMS.Properties.Settings>
      <setting name="LocalBackupDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="GoogleDriveBackupDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabasePath" serializeAs="String">
        <value />
      </setting>
    </SVMS.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="SourceDatabasePath" value="|DataDirectory|\StudentViolationDB.accdb" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
	<!-- About Application Details -->
    <add key="AboutTitle" value="Student Violation Management System (SVMS)" />
	<add key="AboutVersion" value="1.0.0" />
	<add key="AboutDescription" value="SVMS is designed to streamline the process of logging, tracking, and managing student violations with ease and accuracy." />
	<add key="AboutTechnologies" value="Powered by C# and MS Access." />
	<add key="AboutCopyright" value="All Rights Reserved © 2024. Developed by Team Syntax Error." />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>